@import "resources/sass/variable";
.swal-button {
    font-family: Condensed-Regular;
    color: #fff;
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #000;
    font-size: 12px;
    border: none;
    outline: none;
    &:not([disabled]):hover {
        background-color: #000 !important;
    }
}

//show product
#categories {
    margin-bottom: 50px;
    .categories-title {
        grid-area: 1/1/2/7;
        padding: 2.5% 5% 0 5%;
        .info-title {
            font-size: x-large;
            font-family: $font-content;
        }
        p {
            margin-top: 15px;
            color: #adadad;
            margin-bottom: 40px;
            font-family: $font-content;
            font-size: 18px;
        }
        @media (min-width: 990px) {
            p {
                max-width: 50%;
            }
        }

    }
    .categories-list {
        padding: 0 5%;
        ul {
            @media(min-width: 768px) {
                display: grid;
                grid-template-columns: repeat(5, minmax(auto, 18%));
                grid-gap: 10px;
                transition: all ease-in-out 0.3s;
            }
            li {
                list-style: none;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $font-content;
                    color: #000000;
                    &:hover {
                        color: #808080;
                    }
                    &:active {
                    color: #808080;
                }
                }
            }
            .active {
                a {
                    color: #808080 !important;

                }
            }
        }
    }
    .categories-filter {
        padding: 2.5% 5% 0 5%;
        .toolbar-sorter {
            .form-item-select .sorter-option {
                border: 0;
                border-bottom: 2px #e8e8e8 solid;
                font-weight: 400;
                outline: none;
            }
        }
        .filter-list {
            display: none;
        }
    }
    .categories-product {
        .product-list {
            display: grid;
            grid-template-columns: repeat(4, minmax(23%, 1fr));
            grid-gap: 20px;
            margin-top: 30px;
            padding: 0 5%;
            li {
                list-style: none;
                .product {
                    position: relative;
                    width: 100%;
                    .thumnail {
                        position: relative;
                        a {
                            width: 100%;
                            text-decoration: none;
                            color: #808080;
                            display: inline-block;
                            cursor: pointer;
                            span {
                                display: block;
                                width: 100%;
                                padding-top: 125%;
                                background-position: center;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-color: rgba(241, 241, 241, 0.6);

                                opacity: 1;
                                -webkit-transition: .3s ease-in-out;
                                transition: .3s ease-in-out;
                                &:hover {
                                    opacity: 0.75;
                                }
                            }
                        }
                        .detail {
                            position: relative;
                            .name {
                                display: flex;
                                justify-content: center;
                                font-size: 14px;
                                word-break: break-word;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 100%;
                                text-transform: capitalize;
                                margin: 4px 0 2px;
                                cursor: pointer;
                                margin-bottom: 0px;
                            }
                            .price {
                                margin-bottom: 10px;
                                font-size: 14px;
                                justify-content: center;
                                text-align: center;
                                p {
                                    display: inline;
                                    justify-content: center;
                                    margin-right: 8px;
                                }
                                p {
                                    //display: inline;
                                    //margin-right: 8px;
                                    //font-size: 20px;
                                    //font-weight: 300;
                                }
                                .discount {
                                    color: #be2c15;
                                }
                                .current {
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//responsive tablet
@media  (max-width: 768px) {
    .nav_right {
        display: none;
    }
    #categories {
        .categories-title {
            display: none;
        }
        .show {
            display: block;
        }
        .categories-list {
            display: none;
            position: absolute;
            top: 18%;
            left: 5%;
            right: 5%;
            z-index: 1;
            background: #fff;
            box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
            overflow: auto;
            max-height: 70vh;
            padding: 15px 15px 8px;
            border-bottom: thin solid #f1f1f1;
        }
        .categories-filter {
            .toolbar-sorter {
                position: absolute;
                right: 5%;
            }
            .filter-list {
                display: block;
            }
        }
    }
}
//end show product

//product detail
//////////////
//responsive mobile
@media (max-width: 575px) {
    .row {
        .product-info {
            .product-detail-info {
                .product-info-main {
                    .product-add-form {
                        .product-options-bottom {
                            .box-tocart {
                                .fieldset {
                                    .field {
                                    }
                                    .actions {
                                        margin-left: 0 !important;
                                        .tocart {
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//end product detail
#product-detail {
    .row {
        margin-bottom: 70px;
        .product-gallery {
            ul {
                display: grid;
                grid-template-columns: 1fr;
                li {
                    display: none;
                    width: 100%;
                    padding-top: 125%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                li.action-image {
                    display: block;
                }
            }
        }
        .product-info {
            @media( min-width: 990px) {
                .product-info-main {
                    position: relative;
                }
            }
            .product-detail-info {
                position: sticky;
                top: 130px;
                .product-info-main {
                    position: sticky;
                    .product-info-top {
                        display: flex;
                        h1 {
                            font-size: 30px;
                            text-align: start;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                    }
                    .product-info-price {
                        p {
                            display: inline;
                            margin-right: 8px;
                            font-size: 20px;
                            font-weight: 300;
                        }
                        .discount {
                            color: #be2c15;
                        }
                        .current {
                            text-decoration: line-through;
                        }
                    }
                    .product-add-form {
                        .product-options-wrapper {
                            .swatch-attribute {
                                .swatch-attribute-options {
                                    display: grid;
                                    grid-template-columns: repeat(auto-fit, minmax(auto, 45px));
                                    grid-gap: 16px;
                                    margin-top: 10px;
                                    li {
                                        display: block;
                                        width: 100%;
                                        padding-top: 100%;
                                        background-position: center;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        transition: all ease-in-out 0.3s;
                                        box-sizing: content-box;
                                        position: relative;
                                        border: #e8e8e8 1px solid;
                                        &>button {
                                            font-family: 'Nunito', sans-serif;
                                            text-transform: uppercase;
                                        }
                                        .button-color {
                                            //height: 20px;
                                            //width: 20px;
                                            background-repeat: no-repeat;
                                            border: thin solid #f1f1f1;
                                            border-radius: 0;
                                            border-collapse: collapse;
                                            display: block;
                                            //width: 100%;
                                            padding-top: 100%;
                                            background-position: center;
                                            background-size: cover;
                                            background-repeat: no-repeat;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            width: 100%;
                                            height: 100%;
                                            background-color: #ffffff;
                                        }
                                        .button-color:disabled {
                                            opacity: 0.5;
                                        }
                                        button.action-size {
                                            border: thin solid #231f20;
                                        }
                                        button.action-color {
                                            border: thin solid #231f20;
                                        }
                                        button.off-size {
                                            color: red;
                                            border: thin solid red;
                                            cursor: auto;
                                        }
                                        .button-size {
                                            //padding-bottom: 4px;
                                            background-color: #ffffff;
                                            width: 100%;
                                            height: 100%;
                                            border: thin solid #f1f1f1;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                        }
                                        [data-title]:hover:after {
                                            opacity: 1;
                                            transition: all 0.1s ease 0.5s;
                                            visibility: visible;
                                        }
                                        [data-title]:after {
                                            content: attr(data-title);
                                            position: absolute;
                                            bottom: 60px;
                                            left: 0;
                                            padding: 4px 4px 4px 8px;
                                            color: #222;
                                            white-space: nowrap;
                                            -moz-border-radius: 5px;
                                            -webkit-border-radius: 5px;
                                            border-radius: 5px;
                                            -moz-box-shadow: 0px 0px 4px #222;
                                            -webkit-box-shadow: 0px 0px 4px #222;
                                            box-shadow: 0px 0px 4px #222;
                                            background-color: #fff;
                                            opacity: 0;
                                            z-index: 99999;
                                            visibility: hidden;
                                        }
                                    }
                                }
                            }
                        }
                        .product-options-bottom {
                            .size-guide {
                                font-size: 16px;
                                text-decoration: underline;
                                color: #231f20;
                                cursor: pointer;
                            }
                            .box-tocart {
                                .fieldset {
                                    .field {
                                        display: inline-block;
                                        margin-right: 10px;
                                        margin-top: 20px;
                                        vertical-align: top;
                                        .control {
                                            border: 0;
                                            background-color: #e8e8e8;
                                            border-radius: 0;
                                            margin-bottom: 10px;
                                            position: relative;
                                            height: 40px;
                                            //border: 1px solid #222;
                                            text-align: left;
                                            //border-radius: 40px;
                                            display: inline-block;
                                            .input-text {
                                                width: 115px;
                                                border: 0;
                                                height: 40px;
                                                background: 0 0;
                                                padding: 0;
                                                font-weight: 600;
                                                font-size: 16px;
                                                color: #222;
                                                text-align: center;
                                                outline: none;
                                            }
                                            input[type=number]::-webkit-inner-spin-button,
                                            input[type=number]::-webkit-outer-spin-button {
                                                -webkit-appearance: none;
                                                margin: 0;
                                            }
                                            span.edit-qty {
                                                display: block;
                                                text-align: center;
                                                font-size: 22px;
                                                color: #222;
                                                font-weight: 600;
                                                line-height: 1;
                                                position: absolute;
                                                top: 3px;
                                                //left: 16px;
                                                cursor: pointer;
                                                padding-top: 7px;
                                                font-weight: 300;
                                                font-size: 24px !important;
                                                padding-top: 6px !important;
                                            }
                                            span.plus {
                                                right: 16px;
                                            }
                                            span.minus {
                                                left: 16px;
                                            }
                                        }
                                    }
                                    .actions {
                                        display: inline-block;
                                        margin-top: 20px;
                                        margin-left: 60px;
                                        vertical-align: top;
                                        .tocart {
                                            background-color: #fff;
                                            color: #231f20;
                                            font-weight: 400;
                                            border-radius: 0;
                                            font-size: 13px;
                                            width: auto;
                                            padding: 0 34px;
                                            border: 1px solid #231f20;
                                            line-height: 38px;
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-info-banner {
                        p {
                            margin-top: 30px;
                            padding: 0 20px 0 0px;
                            a {
                                text-decoration: none;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                        @media (max-width: 575px) {
                            p {
                                padding: 0 20px;
                            }
                        }
                    }
                }

            }
        }
    }
    #size-guide-popup {
        .modal-dialog {
            max-width: 882px;
            .modal-content {
                .modal-body {
                    p {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .cart-nav {
        position: fixed;
        display: block;
        background-color: #fff;
        z-index: 999;
        width: 100%;
        max-width: 455px;
        height: 100%;
        top: 0;
        bottom: 0;
        right: -100%;
        //right: 0%;
        transition: 0.3s;
        border-left: 1px solid #e8e8e8;
        .cart-nav-content {
            position: relative;
            height: 100%;
            .cart-top {
                position: relative;
                padding: 35px 35px 0 20px;
                .dot {
                    position: absolute;
                    top: 34px;
                    left: 38px;
                    border-radius: 50%;
                    width: 16px;
                    height: 16px;
                    background: #f35b42;
                    color: #fff;
                    text-align: center;
                    font: 14px Arial, sans-serif;
                }
                .cart-close {
                    position: absolute;
                    top: 40px;
                    right: 30px;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-family: "Dosis SemiBold";
                    cursor: pointer;
                }
            }
            .block-content {
                //overflow-x: scroll;
                overflow-y: auto;
                .minicart-items-wrapper::-webkit-scrollbar {
                    width: 7px;
                    height: 7px;
                    margin-right: 10px;
                    margin-top: 10px;
                }
                .minicart-items-wrapper::-webkit-scrollbar-thumb {
                    background: #231f20;
                    border-radius: 0;
                }
                .minicart-items-wrapper::-webkit-scrollbar-track {
                    background: #e8e8e8;
                    border-radius: 0;
                }
                .cart-item {
                    height: 450px;
                    @media (max-width: 575px) {
                        height: 500px;
                    }
                    @media (min-width: 575px) and (max-width: 990px) {
                        height: 550px;
                    }
                    .minicart-item {
                        padding: 35px 0px 0 20px;
                        min-height: 530px;
                        .item {
                            list-style: none;
                            position: relative;
                            padding-top: 20px;
                            min-height: 180px;
                            .product{
                                .product-item-photo {
                                    position: absolute;
                                    top: 0;
                                    bottom: 30px;
                                    display: inline;
                                    a {
                                        img {
                                            height: 150px;
                                            width: 120px;
                                        }
                                    }
                                }
                                .product-item-detail {
                                    position: absolute;
                                    top: 0;
                                    left: 150px;
                                    display: inline-block;
                                    width: calc(100% - 150px);
                                    .secondary {
                                        .close_button {
                                            position: absolute;
                                            top: 0px;
                                            right: 20px;
                                            border: none;
                                            background-color: transparent;
                                        }
                                    }
                                    .product-item-name {
                                        a {
                                            text-decoration: none;
                                            color: #000;
                                            text-transform: uppercase;
                                            font-weight: 600;
                                            font-size: 18px;
                                        }
                                    }
                                    .product-item-option {
                                        text-transform: uppercase;
                                    }
                                    .product-item-price {
                                        margin-top: 15px;
                                    }
                                }
                                .box-tocart {
                                    .fieldset {
                                        .field {
                                            display: inline-block;
                                            margin-right: 10px;
                                            margin-top: 20px;
                                            vertical-align: top;
                                            .control {
                                                border: 0;
                                                background-color: #e8e8e8;
                                                border-radius: 0;
                                                position: relative;
                                                height: 40px;
                                                text-align: left;
                                                display: inline-block;
                                                .input-text {
                                                    width: 115px;
                                                    border: 0;
                                                    height: 40px;
                                                    background: 0 0;
                                                    padding: 0;
                                                    font-weight: 600;
                                                    font-size: 16px;
                                                    color: #222;
                                                    text-align: center;
                                                    outline: none;
                                                }
                                                input[type=number]::-webkit-inner-spin-button,
                                                input[type=number]::-webkit-outer-spin-button {
                                                    -webkit-appearance: none;
                                                    margin: 0;
                                                }
                                                span.edit-qty {
                                                    display: block;
                                                    text-align: center;
                                                    font-size: 22px;
                                                    color: #222;
                                                    font-weight: 600;
                                                    line-height: 1;
                                                    position: absolute;
                                                    top: 3px;
                                                    //left: 16px;
                                                    cursor: pointer;
                                                    padding-top: 7px;
                                                    font-weight: 300;
                                                    font-size: 24px !important;
                                                    padding-top: 6px !important;
                                                }
                                                span.plus {
                                                    right: 16px;
                                                }
                                                span.minus {
                                                    left: 16px;
                                                }
                                            }
                                            .update-cart-item {
                                                position: absolute;
                                                right: 40px;
                                                background-color: #000;
                                                border: none;
                                                border-radius: 0;
                                                color: #fff;
                                                height: 40px;
                                                width: 100px;
                                                font-size: 12px;
                                            }
                                        }
                                        .actions {
                                            display: inline-block;
                                            margin-top: 20px;
                                            margin-left: 60px;
                                            vertical-align: top;
                                            .tocart {
                                                background-color: #fff;
                                                color: #231f20;
                                                font-weight: 400;
                                                border-radius: 0;
                                                font-size: 13px;
                                                width: auto;
                                                padding: 0 34px;
                                                border: 1px solid #231f20;
                                                line-height: 38px;
                                                text-transform: uppercase;
                                            }
                                        }

                                    }
                                }
                            }
                        }
                        .off-item {
                            display: none;
                        }
                    }
                }
            }
            .action {
                text-align: center;
                padding: 20px 20px 0 20px;
                .btn-cart-action {
                    background-color: #fff;
                    color: #231f20;
                    font-weight: 400;
                    border-radius: 0;
                    font-size: 16px;
                    width: 100%;
                    padding: 0 34px;
                    border: 1px solid #231f20;
                    line-height: 38px;
                    text-transform: uppercase;
                }
                .primary {
                    vertical-align: top;
                    height: 50px;
                    #btn-checkout-cart {

                    }
                }
            }
        }
    }
}


///////////////////

///////cart
///////////
#cart-checkout {
    padding: 0 5%;
    margin-bottom: 7%;
    .cart-container {
        width: 100%;
        max-width: 1270px;
        margin: 2.5% auto;
        .form-cart {
            width: 60%;
            float: left;
            .table-wrapper {
                .cart-header {
                    h4 {
                        font-family: "Dosis SemiBold";
                    }
                    .cart-header_item {
                        color: #707070;
                        font-family: "Dosis Regular";
                    }
                }
                .items {
                    margin-top: 2.5%;
                    .item {
                        list-style: none;
                        position: relative;
                        padding-top: 20px;
                        min-height: 180px;
                        border-bottom: #e8e8e8 1px solid;
                        margin-top: 30px;
                        .product{
                            .product-item-photo {
                                position: absolute;
                                top: 0;
                                bottom: 30px;
                                display: inline;
                                a {
                                    img {
                                        height: 150px;
                                        width: 120px;
                                    }
                                }
                            }
                            .product-item-detail {
                                position: absolute;
                                top: 0;
                                left: 150px;
                                display: inline-block;
                                width: calc(100% - 150px);
                                .secondary {
                                    .close_button {
                                        position: absolute;
                                        top: 0px;
                                        right: 20px;
                                        border: none;
                                        background-color: transparent;
                                    }
                                }
                                .product-item-name {
                                    a {
                                        text-decoration: none;
                                        color: #000;
                                        text-transform: uppercase;
                                        font-weight: 600;
                                        font-size: 18px;
                                    }
                                }
                                .product-item-option {
                                    text-transform: uppercase;
                                }
                                .product-item-price {
                                    margin-top: 15px;
                                }
                            }
                            .box-tocart {
                                .fieldset {
                                    .field {
                                        display: inline-block;
                                        margin-right: 10px;
                                        margin-top: 20px;
                                        vertical-align: top;
                                        .control {
                                            border: 0;
                                            background-color: #e8e8e8;
                                            border-radius: 0;
                                            position: relative;
                                            height: 40px;
                                            text-align: left;
                                            display: inline-block;
                                            .input-text {
                                                width: 115px;
                                                border: 0;
                                                height: 40px;
                                                background: 0 0;
                                                padding: 0;
                                                font-weight: 600;
                                                font-size: 16px;
                                                color: #222;
                                                text-align: center;
                                                outline: none;
                                            }
                                            input[type=number]::-webkit-inner-spin-button,
                                            input[type=number]::-webkit-outer-spin-button {
                                                -webkit-appearance: none;
                                                margin: 0;
                                            }
                                            span.edit-qty {
                                                display: block;
                                                text-align: center;
                                                font-size: 22px;
                                                color: #222;
                                                font-weight: 600;
                                                line-height: 1;
                                                position: absolute;
                                                top: 3px;
                                                //left: 16px;
                                                cursor: pointer;
                                                padding-top: 7px;
                                                font-weight: 300;
                                                font-size: 24px !important;
                                                padding-top: 6px !important;
                                            }
                                            span.plus {
                                                right: 16px;
                                            }
                                            span.minus {
                                                left: 16px;
                                            }
                                        }
                                        .update-cart-item {
                                            position: absolute;
                                            left: 150px;
                                            background-color: #000;
                                            border: none;
                                            border-radius: 0;
                                            color: #fff;
                                            height: 40px;
                                            width: 100px;
                                            font-size: 12px;
                                        }
                                    }
                                    .actions {
                                        display: inline-block;
                                        margin-top: 20px;
                                        margin-left: 60px;
                                        vertical-align: top;
                                        .tocart {
                                            background-color: #fff;
                                            color: #231f20;
                                            font-weight: 400;
                                            border-radius: 0;
                                            font-size: 13px;
                                            width: auto;
                                            padding: 0 34px;
                                            border: 1px solid #231f20;
                                            line-height: 38px;
                                            text-transform: uppercase;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
        .shopping-cart-summary {
            width: 38%;
            float: right;
            padding-top: 87px;
            .cart-order-summary {
                .cart-totals {
                    background-color: #f2f2f2;
                    padding: 28px;
                    .summary-noti {
                        color: #707070;
                    }
                    .table-wrapper {
                        .table {
                            width: 100%;
                            max-width: 100%;
                            background-color: transparent;
                            .sub,.total-rules,.shipping,.totals {
                                .mark {
                                    font-size: 16px;
                                    font-weight: 400;
                                    background-color: transparent;
                                    color: #231f20;
                                    border: 0;
                                }
                                .amount {
                                    font-size: 16px;
                                    font-weight: 400;
                                    text-align: right;
                                    border: 0;
                                }
                            }

                            .totals {
                                strong {
                                    font-size: 24px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                .cart-summary {
                    margin-top: 28px;
                    .checkout-method-items {
                        list-style: none;
                        margin: 0;
                        li {
                            text-align: center;
                            .checkout {
                                background: #231f20;
                                border: 0;
                                outline: none;
                                width: 100%;
                                color: #fff;
                                text-transform: uppercase;
                                height: 47px;
                                margin-bottom: 28px;
                                font-size: 18px;
                            }
                            .continue {
                                color: #231f20;
                                text-transform: uppercase;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

//responsive mobile cart
@media (max-width: 575px) {
    #cart-checkout {
        .cart-container {
            .form-cart {
                float: none;
                width: 100%;
                .table-wrapper {
                    .items {
                        .item {
                            min-height: 250px;
                            .product {
                                .product-item-detail {
                                    .box-tocart {
                                        margin-left: -150px;
                                        margin-top: 70px;
                                        .fieldset {
                                            .field {
                                                .update-cart-item {
                                                    left: 15px;
                                                }
                                            }
                                        }
                                    }
                                    .secondary {
                                        .close_button {
                                            left: 200px;
                                            right: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .shopping-cart-summary {
                float: none;
                width: 100%;
                .cart-order-summary {
                }
            }
        }
    }
}
//////end cart
///////////

//checkout info
//////////////
#checkout-pay {
    .container-fluid .row {
        .main .checkout-container {
            margin-top: 5%;
            .checkout-info {
                width: 62%;
                float: left;
                padding-right: 15px;
                .checkout-step {
                    list-style: none;
                    .checkout-shipping-address {
                        position: relative;
                        .step-title {
                            font-size: 28px;
                            margin-bottom: 16px;
                            color: #231f20;
                            text-transform: uppercase;
                            border: 0;
                        }
                        .step-content {
                            .custom-contact-info {
                                .title {
                                    text-transform: uppercase;
                                    font-size: 18px;
                                }
                                .form-checkout {
                                    padding-bottom: 4px;
                                    .fieldset {
                                        min-width: 0;
                                        padding: 0;
                                        margin: 0;
                                        border: 0;
                                        .field:not(.choice) {
                                            margin-bottom: 20px;
                                            .label {
                                                font-size: 12px;
                                                margin: 0;
                                                text-transform: uppercase;
                                                color: #231f20;
                                            }
                                            .control {
                                                background: #fff;
                                                box-sizing: border-box;
                                                border-radius: 0;
                                                -webkit-border-radius: 0;
                                                -moz-border-radius: 0;
                                                -o-border-radius: 0;
                                                font-size: 16px;
                                                font-weight: 300;
                                                height: 46px;
                                                vertical-align: baseline;
                                                box-shadow: none !important;
                                                input {
                                                    width: 48%;
                                                    height: 100%;
                                                    outline: none;
                                                }
                                                textarea {
                                                    width: 100%;
                                                    height: auto;
                                                    border: 1px solid #707070;
                                                    min-height: 120px;
                                                    background: #fff;
                                                    box-shadow: none;
                                                    padding: 10px 13px;
                                                    font-size: 16px;
                                                    font-weight: 300;
                                                    outline: none;
                                                }
                                                textarea::placeholder {
                                                    color: #2d3748;
                                                    opacity: 0.5;
                                                }
                                                label.error {
                                                    display: block;
                                                    color: red;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .custom-address-info {
                                width: 100%;
                                .title {
                                    font-size: 18px;
                                    text-transform: uppercase;
                                }
                                .form-shipping-address {
                                    .address.fieldset {
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: space-between;
                                        .field {
                                            width: 48%;
                                            margin-bottom: 20px;
                                            .label {
                                                font-size: 12px;
                                                margin: 0;
                                                text-transform: uppercase;
                                                color: #231f20;
                                            }
                                            .control {
                                                background: #fff;
                                                box-sizing: border-box;
                                                border-radius: 0;
                                                -webkit-border-radius: 0;
                                                -moz-border-radius: 0;
                                                -o-border-radius: 0;
                                                font-size: 16px;
                                                font-weight: 300;
                                                height: 46px;
                                                vertical-align: baseline;
                                                box-shadow: none !important;
                                                input {
                                                    width: 100%;
                                                    height: 100%;
                                                    outline: none;
                                                }
                                                textarea {
                                                    width: 100%;
                                                    height: auto;
                                                    border: 1px solid #707070;
                                                    min-height: 120px;
                                                    background: #fff;
                                                    box-shadow: none;
                                                    padding: 10px 13px;
                                                    font-size: 16px;
                                                    font-weight: 300;
                                                    outline: none;
                                                }
                                                textarea::placeholder {
                                                    color: #2d3748;
                                                    opacity: 0.5;
                                                }

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .checkout-shipping-method {
                        .field {
                            .control {
                                textarea {
                                    width: 100%;
                                    height: auto;
                                    border: 1px solid #707070;
                                    min-height: 120px;
                                    background: #fff;
                                    box-shadow: none;
                                    padding: 10px 13px;
                                    font-size: 16px;
                                    font-weight: 300;
                                    outline: none;
                                }
                                textarea::placeholder {
                                    color: #2d3748;
                                    opacity: 0.5;
                                }
                            }
                        }
                        .step-content {
                            .step-title {
                                font-size: 18px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            .shopping-cart-summary {
                width: 35%;
                float: right;
                padding-top: 87px;
                .cart-order-summary {
                    .cart-totals {
                        background-color: #f2f2f2;
                        padding: 28px;
                        .summary-noti {
                            color: #707070;
                        }
                        .table-wrapper {
                            .table {
                                width: 100%;
                                max-width: 100%;
                                background-color: transparent;
                                .sub,.total-rules,.shipping,.totals {
                                    .mark {
                                        font-size: 16px;
                                        font-weight: 400;
                                        background-color: transparent;
                                        color: #231f20;
                                        border: 0;
                                    }
                                    .amount {
                                        font-size: 16px;
                                        font-weight: 400;
                                        text-align: right;
                                        border: 0;
                                    }
                                }

                                .totals {
                                    strong {
                                        font-size: 24px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                    .cart-summary {
                        margin-top: 28px;
                        .checkout-method-items {
                            list-style: none;
                            margin: 0;
                            li {
                                text-align: center;
                                .checkout {
                                    background: #231f20;
                                    border: 0;
                                    outline: none;
                                    width: 100%;
                                    color: #fff;
                                    text-transform: uppercase;
                                    height: 47px;
                                    margin-bottom: 28px;
                                    font-size: 18px;
                                }
                                .continue {
                                    color: #231f20;
                                    text-transform: uppercase;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//responsive mobile
@media(max-width: 575px) {
    #checkout-pay {
        .container-fluid .row {
            .main .checkout-container {
                .checkout-info {
                    float: none;
                    width: 100%;
                    .checkout-step .checkout-shipping-address .step-content .custom-contact-info .fieldset {
                        .field {
                            width: 100%;
                            .control input {
                                width: 100% !important;
                            }
                        }
                    }
                    .checkout-step .checkout-shipping-address .step-content .custom-address-info .fieldset {
                        .field {
                            width: 100% !important;
                            .control input {
                                width: 100% !important;
                            }
                        }
                    }
                }
                .shopping-cart-summary {
                    float: none;
                    width: 100%;
                    margin-bottom: 40px;
                }


            }
        }
    }
}
//end responsive mobile
//////end checkout info
///////////////////////
